.git
.gitignore
.env
.env.*
!.env.example
.DS_Store

local_data/
.etl/
internal_doc/

**/__pycache__/
**/.pytest_cache/
**/.angular/
**/node_modules/
**/dist/
**/target/
**/coverage/

prompt_dump/
**/prompt_dump_from_container/
*.log
